@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --base-nero: #000000;
    --base-90: #0a0a0a;
    --base-80: #333333;
    --base-60: #666666;
    --base-34: #a8a8a8;
    --base-15: #d8d8d8;
    --base--9: #e7e7e7;
    --base--5: #f2f2f2;
    --base-bianco: #ffffff;
    --primario-base: #152c69;
    --primario-scuro: #0f1e46;
    --secondario-base: #db230b;
    --secondario-scuro: #c5210b;
    --terziario-base: #7aae4d;
    --terziario-scuro: #669340;
    --dolcecasa-default: #8cc6ae;
    --dolcecasa-scuro: #80bda4;
    --dolcecasa-nero: #333333;
    --findomestic: #008C3F;
    --font-family: "Montserrat", sans-serif;
    --font-family-menu: "Roboto", sans-serif;
    --font-size-default: 14px;
    --gap: 1rem;
}

body, body button, body input {
    font-family: var(--font-family);
}

@media (min-width: 1025px) {
}
